*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: rgb(254, 248, 238);
}

.main-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.title {
  font-size: 2rem;
}

.header-image {
  max-width: 300px;
  height: auto;
}

.navigation {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;
}

.navigation-button {
  color: white;
  background-color: black;
  border: 1px solid white;
  width: 75px;
}

.navigation-button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

.footer {
  color: white;
  background-color: black;
  display: flex;
  place-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
}

.footer-text {
  border: 1px solid white;
  padding: 10px;
}