*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  width: 100vw;
  height: 100vh;
}

body {
  background-color: rgb(254, 248, 238);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  width: 100vw;
  height: 100vh;
}

#content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

.main-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.title {
  font-size: 2rem;
}

.header-image {
  max-width: 300px;
  height: auto;
  border: 3px solid black; 
}

.navigation {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;
}

.navigation-button {
  color: white;
  background-color: black;
  border: 1px solid white;
  width: 75px;
}

.navigation-button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

.footer {
  color: white;
  background-color: black;
  display: flex;
  place-content: center;
  padding: 10px;
}

.footer-text {
  border: 1px solid white;
  padding: 10px;
}

.description {
  font-size: 1.5rem;
}

.open-hours {
  background-color: black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.open-hours > li {
  color: white;
  font-size: 1.3rem;
}

.card {
  border: 2px solid black;
}

.card-title {
  font-size: 1.3rem;
  color: white;
  background-color: black;
}

.card-image {
  width: 200px;
  height: 200px;
}